
    <!--Accordion wrapper-->
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                   aria-controls="collapseOne1">
                    <h5 class="mb-0">
                        .Net Architecture <span class="badge badge-primary badge-pill float-right">14</span>
                    </h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                <div class="card-body" style="padding:0px">
                    <ul class="list-group">
                        <li class="list-group-item" style="padding: 2px 1px 1px 25px;font-size:15px">Active item</li>
                        <li class="list-group-item" style="padding: 2px 1px 1px 25px;">Second item</li>
                        <li class="list-group-item active" style="padding: 2px 1px 1px 25px;">Third item</li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                   aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">
                        C# Basics <span class="badge badge-primary badge-pill float-right">3</span>
                    </h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                <div class="card-body" style="padding:0px">
                    <ul class="list-group">
                        <li class="list-group-item active" style="padding: 2px 1px 1px 25px;">Active item</li>
                        <li class="list-group-item" style="padding: 2px 1px 1px 25px;">Second item</li>
                        <li class="list-group-item" style="padding: 2px 1px 1px 25px;">Third item</li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                   aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                        OOPS Concepts <span class="badge badge-primary badge-pill float-right">10</span>
                    </h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                <div class="card-body" style="padding:0px">
                    <ul class="list-group">
                        <li class="list-group-item active" style="padding: 2px 1px 1px 25px;">Active item</li>
                        <li class="list-group-item" style="padding: 2px 1px 1px 25px;">Second item</li>
                        <li class="list-group-item" style="padding: 2px 1px 1px 25px;">Third item</li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- Accordion card -->
    </div>
    <!-- Accordion wrapper -->
