@{
    Layout = null;
}

<div class="container" style="background-color:white">
    <div style="padding:8px">
        <h3>Introduction to DOT NET Framework</h3>
        <p style="font-size:14px;padding:5px;">
            In this article, I am going to give you an overview of the DOT NET Framework.
            This is important for you as a dot net developer to know the history and evolution of
            the DOT NET Framework. Here, in this article, we will discuss what was there before the
            DotNet Framework and what problems we face in that and how we overcome all those problems in
            DOT NET Framework.
        </p>
        <h3>Introduction to DOT NET Framework</h3>
        <p style="font-size:14px;padding:5px;">
            In this article, I am going to give you an overview of the DOT NET Framework.
            This is important for you as a dot net developer to know the history and evolution of
            the DOT NET Framework. Here, in this article, we will discuss what was there before the
            DotNet Framework and what problems we face in that and how we overcome all those problems in
            DOT NET Framework.
        </p>
        <h3>Introduction to DOT NET Framework</h3>
        <p style="font-size:14px;padding:5px;">
            In this article, I am going to give you an overview of the DOT NET Framework.
            This is important for you as a dot net developer to know the history and evolution of
            the DOT NET Framework. Here, in this article, we will discuss what was there before the
            DotNet Framework and what problems we face in that and how we overcome all those problems in
            DOT NET Framework.
        </p>
        <h3>Introduction to DOT NET Framework</h3>
        <p style="font-size:14px;padding:5px;">
            In this article, I am going to give you an overview of the DOT NET Framework.
            This is important for you as a dot net developer to know the history and evolution of
            the DOT NET Framework. Here, in this article, we will discuss what was there before the
            DotNet Framework and what problems we face in that and how we overcome all those problems in
            DOT NET Framework.
        </p>
        <h3>Introduction to DOT NET Framework</h3>
        <p style="font-size:14px;padding:5px;">
            In this article, I am going to give you an overview of the DOT NET Framework.
            This is important for you as a dot net developer to know the history and evolution of
            the DOT NET Framework. Here, in this article, we will discuss what was there before the
            DotNet Framework and what problems we face in that and how we overcome all those problems in
            DOT NET Framework.

        </p>
    </div>
</div>
