
@{ 
    Layout = null;
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper mt-4 full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-5 mx-auto">
                    <h2 class="text-center mb-4">Register</h2>
                    <div class="auto-form-wrapper">
                        <div class="form-group">
                            <label class="label">First Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtFullName" placeholder="First Name">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="mdi mdi-check-circle-outline"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Last Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtFullName" placeholder="Last Name">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="mdi mdi-check-circle-outline"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Email</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="mdi mdi-check-circle-outline"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Mobile Number</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtUserName" placeholder="Mobile Number">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="mdi mdi-check-circle-outline"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Experience</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtPassword" placeholder="Experience">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="mdi mdi-check-circle-outline"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Choose Main Skill</label>
                            <div class="input-group">
                                <select class="form-control" id="ddlUserRole">
                                    <option>Select Main Skill</option>
                                    <option value="1">Dot Net</option>
                                    <option value="1">Others</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Choose Child Skill</label>
                            <div class="input-group">
                                <select class="form-control" id="ddlUserRole">
                                    <option>Select Child Skill</option>
                                    <option value="1">C#</option>
                                    <option>Asp.Net MVC</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Choose Roles</label>
                            <div class="input-group">
                                <select class="form-control" id="ddlUserRole">
                                    <option>Select Role</option>
                                    <option value="1">Admin</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center">
                            <div class="form-check form-check-flat mt-0">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked=""> I agree to the terms
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary submit-btn btn-block" id="btnRegister">Register</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>