

<ul class="nav">
    <li class="nav-item" onclick="return renderRightSideContent('Public', 'TopicContent');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-home-variant"></i>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'ManageMainSkill');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Create Main Skill</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'CreateChildSkill');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-server"></i>
            <span class="menu-title">Create Child Skill</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'CreateMainSkill');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Post Topic Content</span>
        </a>
    </li>
</ul>
