

<ul class="nav">
    <li class="nav-item active" onclick="return renderRightSideContent('Account', 'Register');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Admin Creation</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'ManageMainSkill');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Manage Main Skills</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'ManageChildSkill');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Manage Child Skills</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'ManageTopic');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Manage Topics</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'ManageSubTopic');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Manage Sub Topics</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'ManageSkillContent');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Post Topic Content</span>
        </a>
    </li>
</ul>
