

<ul class="nav">
    <li class="nav-item" onclick="return renderRightSideContent('Account', 'Register');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Admin Creation</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'ManageMainSkill');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Create Main Skill</span>
        </a>
    </li>
    <li class="nav-item" onclick="return renderRightSideContent('Admin', 'ManageChildSkill');">
        <a class="nav-link" href="#">
            <i class="menu-icon mdi mdi-open-in-new"></i>
            <span class="menu-title">Create Child Skill</span>
        </a>
    </li>
</ul>
