@model TechnologyADDA.Models.MainSkill

<div class="card" id="dvMainSkill">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Main Skill</label>
                <input type="text" class="form-control" id="txtMainSkill" value="@Model.MainSkillName" maxlength="160" placeholder="Main Skill" rule="{'Please enter Main Skill','required'}" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Main Skill Description</label>
                <textarea type="text" class="form-control" id="txtMainSkillDesc" value="@Model.MainSkillDesctiption" maxlength="500" placeholder="Main Skill Description" autocomplete="off"></textarea>
            </div>
            <button class="btn btn-success mr-2" id="btnAddMainSkill" onclick="saveMainSkill();">SAVE</button>
            <button class="btn btn-light" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>

