@model TechnologyADDA.Models.MainSkill

<div class="card" id="dvMainSkill">
    <div class="row">
        <div class="col-12">
            <h2>Create Your Team</h2><br />
            <div class="form-group">
                <label>Member EmpId</label>
                <input type="text" class="form-control" id="txtMemberEmpId" maxlength="160" placeholder="Member EmpId" rule="{'Please enter Username','required'}" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Member Name</label>
                <input type="text" class="form-control" id="txtMemberName" maxlength="100" placeholder="Member Name" rule="{'Please enter Password','required'}" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Member Email</label>
                <input type="text" class="form-control" id="txtMemberEmail" maxlength="100" placeholder="Member Email" rule="{'Please enter Email','required'}" autocomplete="off">
            </div>
            <button class="btn btn-success mr-2" id="btnAddMainSkill" onclick="saveMainSkill();">SAVE</button>
            <button class="btn btn-light" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>

