@using TechnologyADDA.Shared


<nav class="sidebar sidebar-offcanvas" id="sidebar">
    @*@Html.Partial(Enums.PartialView.PublicLeftSidePanel)*@

    @Html.Partial(Enums.PartialView.AdminLeftSidePanel)

</nav>