<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body" onclick="return loadChildView('Public', 'TopicContent');">
                <div class="clearfix">
                    <div align="center">
                        <img src="~/Images/oops.png" style="width:100px" />
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                <p class="mb-0 text-center">UpComing Sessions</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-center mb-0">C#</h3>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div align="center">
                        <img src="~/Images/angularlogo.png" style="width:100px" />
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                <p class="mb-0 text-center">UpComing Sessions</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-center mb-0">Angular</h3>
                </div>
                </p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div align="center">
                        <img src="~/Images/netcore.png" style="width:100px" />
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                <p class="mb-0 text-center">UpComing Sessions</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-center mb-0">.Net Core</h3>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div align="center">
                        <img src="~/Images/angularlogo.png" style="width:100px" />
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                <p class="mb-0 text-center">UpComing Sessions</p>
                <div class="fluid-container">
                    <h3 class="font-weight-medium text-center mb-0">Angular</h3>
                </div>
                </p>
            </div>
        </div>
    </div>

</div>





