
<div class="card">
    <div class="row">
        <div class="card-body col-lg-5 mx-auto">
            <h2>Schedule New Session</h2><br />
            <div class="form-group">
                <label>Venue</label>
                <select class="form-control" id="ddlTrainerId">
                    <option>Darjeeling</option>
                    <option>Manali</option>
                    <option>Goa</option>
                    <option>Simla</option>
                </select>
            </div>
            <div class="form-group">
                <label>Schedule Date</label>
                <input type="date" class="form-control" id="txtDate" placeholder="Date" autocomplete="off">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Start Time</label>
                        <input type="time" class="form-control" id="txtDate" placeholder="Date" autocomplete="off">
                    </div>
                    <div class="col-lg-6">
                        <label>End Time</label>
                        <input type="time" class="form-control" id="txtDate" placeholder="Date" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mx-auto" style="margin-top: 97px;">
            <div class="form-group">
                <label>Trainer Name</label>
                <select class="form-control" id="ddlTrainerName">
                    <option>Praveen Acha</option>
                    <option>Asif Akram</option>
                    <option>Siva Molka</option>                    
                </select>
            </div>
            <div class="form-group">
                <label>Trainer EmpId</label>
                <select class="form-control" id="ddlTrainerId">
                    <option>1525</option>
                    <option>1500</option>
                    <option>1452</option>
                </select>
            </div>
            <div class="form-group">
                <label>Topic Name</label>
                <input type="text" class="form-control" id="txtTopicName" placeholder="Topic Name" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-success mr-2">Add Schedule</button>
            <button class="btn btn-light">Cancel</button>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="table-responsive card-body">
            <h2>Scheduled Sessions</h2><br />
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            <div class="form-check form-check-flat">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked=""> Select
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </th>
                        <th>Venue</th>
                        <th>EmpId</th>
                        <th>Topic Name</th>
                        <th>Trainer Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-check form-check-flat">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked=""> All
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </td>
                        <td>Manali</td>
                        <td>1500</td>
                        <td>Angular 6</td>
                        <td>Prashanth</td>
                        <td>
                            <i class="menu-icon mdi mdi-pencil action-icon-size"></i>
                        &nbsp;&nbsp;<i class="menu-icon mdi mdi-close-box action-icon-size"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check form-check-flat">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked=""> All
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </td>
                        <td>Manali</td>
                        <td>1500</td>
                        <td>Angular 6</td>
                        <td>Prashanth</td>
                        <td>
                            <i class="menu-icon mdi mdi-pencil action-icon-size"></i>
                            &nbsp;&nbsp;<i class="menu-icon mdi mdi-close-box action-icon-size"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <button type="submit" class="btn btn-success mr-2 float-right">Confirm Schedule</button>
        </div>
    </div>
</div>